* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 0 12px;
}

.title {
  color: #4E5150;
  font-size: 36px;
  font-weight: 600;
  padding-left: 6px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.order {
  width: 100%;
  padding: 30px 27px;
  background-color: #F2F2F2;
  border-radius: 12px;
}

.order-items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order-items__item img {
  width: 124px;
  height: 125px;
  border-radius: 13px;
  margin-bottom: 28px;
}

.description {
  padding-left: 20px;
}
.description_title {
  font-size: 12px;
  color: #4E5150;
  margin-bottom: 10px;
}
.description .conter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #828282;
  padding: 14px 12px;
  border-radius: 12px;
}
.description .conter input {
  width: 50px;
  border: none;
  text-align: center;
  color: #333333;
  font-size: 16px;
  background-color: #F2F2F2;
}
.description .conter .more {
  padding: 3px 4px;
  border: none;
  background-color: #E0E0E0;
  color: #828282;
  border-radius: 4px;
}
.description .conter .less {
  border: none;
  background-color: #E0E0E0;
  color: #828282;
  border-radius: 4px;
  padding: 0 6px;
}

.price_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.price_container h3 {
  font-size: 14px;
  color: #F2994A;
  padding-right: 14px;
}
.price_container h4 {
  font-size: 10px;
  color: #4E5150;
  padding-top: 2px;
}

.price .price_shiping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #828282;
}
.price .price_shiping h2 {
  padding-top: 10px;
  padding-bottom: 8px;
  font-size: 14px;
  color: #333333;
}
.price .price_shiping h3 {
  padding-top: 10px;
  font-size: 14px;
  color: #333333;
  padding-bottom: 8px;
}
.price .price_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #828282;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.price .price_total h2 {
  font-size: 14px;
  color: #333333;
  padding-top: 13px;
}
.price .price_total h3 {
  font-size: 14px;
  color: #333333;
  padding-top: 10px;
}

.form {
  margin-top: 40px;
}
.form li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form h2 {
  font-size: 14px;
  color: #333333;
  margin-bottom: 12px;
}
.form label {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #4F4F4F;
  margin-bottom: 6px;
}
.form input {
  border-radius: 12px;
  margin-bottom: 16px;
  padding: 13px 0px;
  border: 1px solid #828282;
}
.form input::-webkit-input-placeholder {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #828282;
  padding: 13px 0px 13px 40px;
}
.form input::-moz-placeholder {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #828282;
  padding: 13px 0px 13px 40px;
}
.form input:-ms-input-placeholder {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #828282;
  padding: 13px 0px 13px 40px;
}
.form input::-ms-input-placeholder {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #828282;
  padding: 13px 0px 13px 40px;
}
.form input::placeholder {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #828282;
  padding: 13px 0px 13px 40px;
}
.form .email_icon::-webkit-input-placeholder {
  background-image: url(./images/email.png);
  background-size: 15px 15px;
}
.form .email_icon::-moz-placeholder {
  background-image: url(./images/email.png);
  background-size: 15px 15px;
}
.form .email_icon:-ms-input-placeholder {
  background-image: url(./images/email.png);
  background-size: 15px 15px;
}
.form .email_icon::-ms-input-placeholder {
  background-image: url(./images/email.png);
  background-size: 15px 15px;
}
.form .email_icon::placeholder {
  background-image: url(./images/email.png);
  background-size: 15px 15px;
}
.form .phone_icon::-webkit-input-placeholder {
  background-image: url(./images/phone.png);
}
.form .phone_icon::-moz-placeholder {
  background-image: url(./images/phone.png);
}
.form .phone_icon:-ms-input-placeholder {
  background-image: url(./images/phone.png);
}
.form .phone_icon::-ms-input-placeholder {
  background-image: url(./images/phone.png);
}
.form .phone_icon::placeholder {
  background-image: url(./images/phone.png);
}
.form .no_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form select {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #828282;
  border-radius: 12px;
  padding: 12px 0px 12px 40px;
  margin-bottom: 30px;
  margin-right: 25px;
  border: 1px solid #828282;
  width: 90%;
}
.form .advice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.form .advice label {
  margin-left: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #4F4F4F;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background: #F2994A;
  padding: 17px 45px;
  border-radius: 12px;
  border: none;
  position: relative;
  left: 183px;
  margin-bottom: 90px;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #bdbdbd;
  text-align: center;
  position: relative;
  bottom: 24px;
}